:where([class^="ri-"])::before { content: "\f3c2"; }
@media (max-width: 768px) {
.mobile-menu {
display: none;
}



.mobile-menu.active {
display: block;
}
}
.hero-image {
background-image: url('https://images.unsplash.com/photo-1717409014701-8e630ff057f3?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-size: cover;
background-position: center;
}
.floating {
animation: floating 3s ease-in-out infinite;
}

.nav-link {
 font-family:monospace;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #facc15; /* yellow-400 */
    transition: width 0.3s ease;
  }

  .nav-link:hover::after {
    width: 100%;
  }
@keyframes floating {
0% { transform: translate(0,  0px); }
50%  { transform: translate(0, 15px); }
100%   { transform: translate(0, -0px); }
}
.shine-effect {
position: relative;
overflow: hidden;
}
.shine-effect::after {
content: '';
position: absolute;
top: -50%;
left: -50%;
width: 200%;
height: 200%;
background: linear-gradient(
to bottom right,
rgba(255,255,255,0) 0%,
rgba(255,255,255,0.1) 50%,
rgba(255,255,255,0) 100%
);
transform: rotate(45deg);
animation: shine 3s infinite;
}
@keyframes shine {
0% {transform: translateX(-100%) rotate(45deg);}
100% {transform: translateX(100%) rotate(45deg);}
}



.gold-glow {
  background: linear-gradient(90deg, #d4af37, #fff8dc, #d4af37);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 3s linear infinite;
  text-shadow: 0 0 5px rgba(212, 175, 55, 0.5), 0 0 10px rgba(212, 175, 55, 0.3);
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}
